{% load pdf_extras %}
<table class="results">
    <thead>
        <tr>
            <th style="width:7%;">Sıra</th>
            <th class="left" style="width:29%;">Talebe</th>
            <th style="width:10%;">Doğru</th>
            <th style="width:10%;">Yanlış</th>
            <th style="width:9%;">Boş</th>
            <th style="width:14%;">Net</th>
            <th style="width:21%;">Puan</th>
        </tr>
    </thead>
    <tbody>
        {% for sonuc in kolon %}
        <tr>
            <td><span class="rank">{% if sonuc.kurum_sirasi %}{{ sonuc.kurum_sirasi }}{% else %}{{ forloop.counter|add:sira_offset }}{% endif %}</span></td>
            <td class="left">
                <div class="student-name">{{ sonuc.talebe.ad_soyad }}</div>
                <div class="student-meta">{{ sonuc.talebe.sinif }}{% if sonuc.talebe.sube %} / {{ sonuc.talebe.sube }}{% endif %}</div>
            </td>
            <td class="num-cell">{{ sonuc.toplam_dogru }}</td>
            <td class="num-cell">{{ sonuc.toplam_yanlis }}</td>
            <td class="num-cell">{{ sonuc.toplam_bos }}</td>
            <td class="num-cell">{{ sonuc.toplam_net|pdf_puan }}</td>
            <td><span class="score">{{ sonuc.puan|pdf_puan }}</span></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="7" class="left" style="padding:10px;">Henüz kaydedilmiş sonuç bulunmamaktadır.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
