{% extends "base.html" %}
{% load static %}
{% block title %}KTT · {{ panel_short }}{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/ktt-page.css' %}?v=ktt-mob2">
{% endblock %}
{% block content %}
{% include "partials/ktt_listesi_content.html" %}
{% endblock %}

{% block extra_js %}
{% if olusturabilir and form %}
<script src="{% static 'js/ktt-list.js' %}?v=1"></script>
{% if form.errors %}
<script>document.documentElement.dataset.kttFormOpen = "1";</script>
{% endif %}
{% endif %}
{% endblock %}
